body {
  font-family: Ariel, sans-serif;
  text-align: center;
  font-size: 16px;
}

#container {
  margin: 0 auto;
  width: 322px;
}

td, th {
  width: 60px;
  heght: 45px;
}

td {
  background: #F59A00;
  color: #fff;
}

th {
  color: #F59A00;
  font-size: 22px;
}
